<div class="row vh-100 justify-content-center align-items-center">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 mt-5">
        <div class="card border-success mb-3">
            <div class="card-header">
                <h4><i class="fa fa-plus"></i> Nuevo Usuario</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label"> Paterno:</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Paterno">
                    <small class="form-text text-danger">(*) Campo obligatorio</small>
                </div>
                <div class="form-group">
                    <label class="form-label mt-1"> Materno:</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Paterno">
                    <small class="form-text text-danger">(*) Campo obligatorio</small>
                </div>
                <div class="form-group">
                    <label class="form-label mt-1"> Nombres:</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Paterno">
                    <small class="form-text text-danger">(*) Campo obligatorio</small>
                </div>
                <div class="form-group">
                    <label class="form-label mt-1"> Nro. Documento:</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Paterno">
                    <small class="form-text text-danger">(*) Campo obligatorio</small>
                </div>               
                <div class="form-group">
                    <label class="form-label mt-1"> Correo Electrónico:</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Paterno">
                    <small class="form-text text-danger">(*) Campo obligatorio</small>
                </div>
                <hr>
                <a class="btn btn-light" [routerLink]="['/login/ingreso']"><i class="fa fa-arrow-left"></i> Volver</a>
                <a class="btn btn-primary"><i class="fa fa-check"></i> Registrar</a>                
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
