<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4><i class="fa fa-table"></i> Especialidades</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Buscar...">
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 text-end">
                        <a class="btn btn-success"><i class="fa fa-plus"></i> Nuevo </a>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table table-bordered table-condensed table-sm">
                        <thead>
                            <tr class="bg-light">
                                <th>Nro.</th>
                                <th>Descripción</th>
                                <th>Cupos</th>
                                <th>Turno</th>
                                <th>Horario</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Traumatología</td>
                                <td>
                                    <span class="btn btn-sm btn-success">4</span>
                                </td>
                                <td>Tarde</td>
                                <td>
                                    14:00 - 18:00
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Pediatría</td>
                                <td>
                                    <span class="btn btn-sm btn-success">5</span>
                                </td>
                                <td>Mañana</td>
                                <td>
                                    07:00 - 12:00
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Fisioterapía</td>
                                <td>
                                    <span class="btn btn-sm btn-success">10</span>
                                </td>
                                <td>Continuo</td>
                                <td>
                                    08:00 - 16:00
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>